In [1]:
# Import csv
import pandas as pd
import numpy as np

df = pd.read_csv("/Users/FrancesY/Documents/Columbia/spring2022/5063viz/project/data/cleaned2.csv")
df

,Unnamed: 0,Unnamed: 0.1,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,cast,crew,keywords
0,0,0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,..."
1,1,1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","[{'id': 10090, 'name': 'board game'}, {'id': 1..."
2,2,2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...","[{'id': 1495, 'name': 'fishing'}, {'id': 12392..."
3,3,3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...","[{'id': 818, 'name': 'based on novel'}, {'id':..."
4,4,4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...","[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31184,32930,32930,False,NaN,0,"[{'id': 9648, 'name': 'Mystery'}, {'id': 27, '...",NaN,390959,tt0265736,en,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Shadow of the Blair Witch,False,7.0,2.0,"[{'cast_id': 30, 'character': 'Debuty Hank Har...","[{'credit_id': '56ff6ddbc3a3686e9e0013bc', 'de...","[{'id': 224180, 'name': 'blair witch'}]"
31185,32931,32931,False,NaN,0,"[{'id': 27, 'name': 'Horror'}]",NaN,289923,tt0252966,en,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Do you know what happened 50 years before ""The...",The Burkittsville 7,False,7.0,1.0,"[{'cast_id': 2, 'character': 'Branwall', 'cred...","[{'credit_id': '5403d669c3a3682d9800427d', 'de...","[{'id': 616, 'name': 'witch'}, {'id': 2035, 'n..."
31186,32932,32932,False,NaN,0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,222848,tt0112613,en,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Caged Heat 3000,False,3.5,1.0,"[{'cast_id': 1, 'character': 'Kira (as Cassand...","[{'credit_id': '5757f36ac3a3687d6f000e8a', 'de...",[]
31187,32933,32933,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,30840,tt0102797,en,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Robin Hood,False,5.7,26.0,"[{'cast_id': 1, 'character': 'Sir Robert Hode'...","[{'credit_id': '52fe44439251416c9100a899', 'de...",[]
31188,32934,32934,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",[]

In [2]:
genres = df['genres']

In [3]:
genres

0        [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1        [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2        [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3        [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                           [{'id': 35, 'name': 'Comedy'}]
                               ...
31184    [{'id': 9648, 'name': 'Mystery'}, {'id': 27, '...
31185                       [{'id': 27, 'name': 'Horror'}]
31186             [{'id': 878, 'name': 'Science Fiction'}]
31187    [{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...
31188    [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...
Name: genres, Length: 31189, dtype: object

In [4]:
genres = pd.DataFrame(genres)

In [5]:
genres['genres'][0]

"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"

In [6]:
# Split by comma
f = lambda x: x["genres"].split(",")
genres = genres.apply(f, axis=1)

In [7]:
genres = pd.DataFrame(genres)
# Extract first genre
f = lambda x: x[0][1]
genres = genres.apply(f, axis=1)

In [8]:
genres

0                'name': 'Animation'}
1                'name': 'Adventure'}
2                  'name': 'Romance'}
3                   'name': 'Comedy'}
4                  'name': 'Comedy'}]
                     ...
31184              'name': 'Mystery'}
31185              'name': 'Horror'}]
31186     'name': 'Science Fiction'}]
31187                'name': 'Drama'}
31188               'name': 'Action'}
Length: 31189, dtype: object

In [9]:
genres = pd.DataFrame(genres)
# Delete 'name'
f = lambda x: str(x[0]).replace("name", "")
genres = genres.apply(f, axis=1)

In [10]:
genres[0]

" '': 'Animation'}"

In [11]:
genres = pd.DataFrame(genres)
# Delete '}'
f = lambda x: str(x[0]).replace("}", "")
genres = genres.apply(f, axis=1)

In [12]:
genres[0]

" '': 'Animation'"

In [13]:
genres = pd.DataFrame(genres)
# Delete ':'
f = lambda x: str(x[0]).replace(":", "")
genres = genres.apply(f, axis=1)

In [14]:
genres[0]

" '' 'Animation'"

In [15]:
genres = pd.DataFrame(genres)
# Delete ' '
f = lambda x: str(x[0]).replace(" ", "")
genres = genres.apply(f, axis=1)

In [16]:
genres[0]

"'''Animation'"

In [17]:
genres = pd.DataFrame(genres)
# Delete ']'
f = lambda x: str(x[0]).replace("]", "")
genres = genres.apply(f, axis=1)

In [18]:
genres[0]

"'''Animation'"

In [19]:
genres = pd.DataFrame(genres)
# Delete "'"
f = lambda x: str(x[0]).replace("'", "")
genres = genres.apply(f, axis=1)

In [20]:
genres[0]

'Animation'

In [21]:
genres

0             Animation
1             Adventure
2               Romance
3                Comedy
4                Comedy
              ...
31184           Mystery
31185            Horror
31186    ScienceFiction
31187             Drama
31188            Action
Length: 31189, dtype: object

In [22]:
df['genres'] = genres

In [23]:
# Drop duplicated columns
df.drop(columns = ["Unnamed: 0","Unnamed: 0.1"], inplace = True)

In [24]:
# Add release year
df['release_year'] = df['release_date'].str[:4]

In [25]:
df['release_year'] = pd.to_numeric(df['release_year'])

In [26]:
# Drop irrelevant columns
df.drop(columns = ["homepage","original_language","spoken_languages","status","poster_path","video"], inplace = True)

In [27]:
# Showing all the columns
pd.set_option('display.max_columns', None)
df

,adult,belongs_to_collection,budget,genres,id,imdb_id,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,tagline,title,vote_average,vote_count,cast,crew,keywords,release_year
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,Animation,862,tt0114709,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,NaN,Toy Story,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...",1995.0
1,False,NaN,65000000,Adventure,8844,tt0113497,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","[{'id': 10090, 'name': 'board game'}, {'id': 1...",1995.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,Romance,15602,tt0113228,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.712900,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...","[{'id': 1495, 'name': 'fishing'}, {'id': 12392...",1995.0
3,False,NaN,16000000,Comedy,31357,tt0114885,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...","[{'id': 818, 'name': 'based on novel'}, {'id':...",1995.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,Comedy,11862,tt0113041,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...","[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...",1995.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31184,False,NaN,0,Mystery,390959,tt0265736,Shadow of the Blair Witch,"In this true-crime documentary, we delve into ...",0.076061,[],[],2000-10-22,0.0,45.0,NaN,Shadow of the Blair Witch,7.0,2.0,"[{'cast_id': 30, 'character': 'Debuty Hank Har...","[{'credit_id': '56ff6ddbc3a3686e9e0013bc', 'de...","[{'id': 224180, 'name': 'blair witch'}]",2000.0
31185,False,NaN,0,Horror,289923,tt0252966,The Burkittsville 7,A film archivist revisits the story of Rustin ...,0.386450,"[{'name': 'Neptune Salad Entertainment', 'id':...","[{'iso_3166_1': 'US', 'name': 'United States o...",2000-10-03,0.0,30.0,"Do you know what happened 50 years before ""The...",The Burkittsville 7,7.0,1.0,"[{'cast_id': 2, 'character': 'Branwall', 'cred...","[{'credit_id': '5403d669c3a3682d9800427d', 'de...","[{'id': 616, 'name': 'witch'}, {'id': 2035, 'n...",2000.0
31186,False,NaN,0,ScienceFiction,222848,tt0112613,Caged Heat 3000,It's the year 3000 AD. The world's most danger...,0.661558,"[{'name': 'Concorde-New Horizons', 'id': 4688}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-01-01,0.0,85.0,NaN,Caged Heat 3000,3.5,1.0,"[{'cast_id': 1, 'character': 'Kira (as Cassand...","[{'credit_id': '5757f36ac3a3687d6f000e8a', 'de...",[],1995.0
31187,False,NaN,0,Drama,30840,tt0102797,Robin Hood,"Yet another version of the classic epic, with ...",5.683753,"[{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",1991-05-13,0.0,104.0,NaN,Robin Hood,5.7,26.0,"[{'cast_id': 1, 'character': 'Sir Robert Hode'...","[{'credit_id': '52fe44439251416c9100a899', 'de...",[],1991.0
31188,False,NaN,0,Action,67758,tt0303758,Betrayal,"When one of her hits goes wrong, a professiona...",0.903007,"[{'name': 'American World Pictures', 'id': 6165}]","[{'iso_3166_1': 'US', 'name': 'United States o...",2003-08-01,0.0,90.0,A deadly game of wits.,Betrayal,3.8,6.0,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",[],2003.0

In [44]:
# Drop rows with 0 budget
df2 = df[df['budget'] != 0]

In [45]:
# Drop rows with 0 revenue
df3 = df2[df2['revenue'] != 0]

In [52]:
# Set budget and revenue to at least $1000
df4 = df3[df3['budget'] > 1000]
df5 = df4[df4['revenue'] > 1000]

In [53]:
df5

,adult,belongs_to_collection,budget,genres,id,imdb_id,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,tagline,title,vote_average,vote_count,cast,crew,keywords,release_year
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,Animation,862,tt0114709,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,NaN,Toy Story,7.7,5415,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...",1995.0
1,False,NaN,65000000,Adventure,8844,tt0113497,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,Roll the dice and unleash the excitement!,Jumanji,6.9,2413,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","[{'id': 10090, 'name': 'board game'}, {'id': 1...",1995.0
3,False,NaN,16000000,Comedy,31357,tt0114885,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...","[{'id': 818, 'name': 'based on novel'}, {'id':...",1995.0
5,False,NaN,60000000,Action,949,tt0113277,Heat,"Obsessive master thief, Neil McCauley leads a ...",17.924927,"[{'name': 'Regency Enterprises', 'id': 508}, {...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,187436818.0,170.0,A Los Angeles Crime Saga,Heat,7.7,1886,"[{'cast_id': 25, 'character': 'Lt. Vincent Han...","[{'credit_id': '52fe4292c3a36847f802916d', 'de...","[{'id': 642, 'name': 'robbery'}, {'id': 703, '...",1995.0
8,False,NaN,35000000,Action,9091,tt0114576,Sudden Death,International action superstar Jean Claude Van...,5.231580,"[{'name': 'Universal Pictures', 'id': 33}, {'n...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,64350171.0,106.0,Terror goes into overtime.,Sudden Death,5.5,174,"[{'cast_id': 1, 'character': 'Darren Francis T...","[{'credit_id': '52fe44dbc3a36847f80ae0f1', 'de...","[{'id': 949, 'name': 'terrorist'}, {'id': 1562...",1995.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30970,False,NaN,60000000,Action,353491,tt1648190,The Dark Tower,"The last Gunslinger, Roland Deschain, has been...",50.903593,"[{'name': 'Imagine Entertainment', 'id': 23}, ...","[{'iso_3166_1': 'ZA', 'name': 'South Africa'},...",2017-08-03,71000000.0,95.0,There are other worlds than these,The Dark Tower,5.7,688,"[{'cast_id': 9, 'character': 'Roland Deschain'...","[{'credit_id': '5912cf71c3a36864d40533b7', 'de...","[{'id': 75, 'name': 'gunslinger'}, {'id': 818,...",2017.0
31029,False,NaN,50000000,Comedy,378236,tt4877122,The Emoji Movie,"Gene, a multi-expressional emoji, sets out on ...",33.694599,"[{'name': 'Columbia Pictures', 'id': 5}, {'nam...","[{'iso_3166_1': 'US', 'name': 'United States o...",2017-07-28,66913939.0,86.0,Not easy being meh,The Emoji Movie,5.8,327,"[{'cast_id': 2, 'character': 'Gene (voice)', '...","[{'credit_id': '5952d8f1c3a368151c025d0e', 'de...","[{'id': 207468, 'name': 'app'}, {'id': 229979,...",2017.0
31044,False,NaN,11000000,Action,395834,tt5362988,Wind River,An FBI agent teams with the town's veteran gam...,40.796775,"[{'name': 'Thunder Road Pictures', 'id': 3528}...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...",2017-08-03,184770205.0,111.0,Nothing is harder to track than the truth.,Wind River,7.4,181,"[{'cast_id': 9, 'character': 'Cory Lambert', '...","[{'credit_id': '572815d0c3a3687a00001314', 'de...","[{'id': 570, 'name': 'rape'}, {'id': 1262, 'na...",2017.0
31154,False,NaN,800000,Comedy,62757,tt0933361,Dikari,"The sea, August, interesting and simple people...",0.903061,[],[],2006-11-23,1328612.0,100.0,NaN,Savages,5.8,6,"[{'cast_id': 1001, 'character': 'Mister', 'cre...","[{'credit_id': '52fe468cc3a368484e096ba7', 'de...",[],2006.0
31156,False,NaN,2000000,Romance,63281,tt1718881,Про любоff,"У девушки Даши, приехавшей с подругой «покорят...",0.121844,"[{'name': 'Profit', 'id': 21163}]","[{'iso_3166_1': 'RU', 'name': 'Russia'}]",2010-09-30,1268793.0,107.0,NaN,Pro Lyuboff,4.0,3,"[{'cast_id': 1001, 'character': 'Vlad', 'credi...","[{'credit_id': '52fe46a3c3a368484e09b9fd', 'de...",[],2010.0