In [290]:
# Import csv
import pandas as pd
import numpy as np

df = pd.read_csv("/Users/FrancesY/Documents/Columbia/spring2022/5063viz/project/data/cleaned2.csv")
df

,Unnamed: 0,Unnamed: 0.1,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,cast,crew,keywords
0,0,0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,..."
1,1,1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","[{'id': 10090, 'name': 'board game'}, {'id': 1..."
2,2,2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...","[{'id': 1495, 'name': 'fishing'}, {'id': 12392..."
3,3,3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...","[{'id': 818, 'name': 'based on novel'}, {'id':..."
4,4,4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...","[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31184,32930,32930,False,NaN,0,"[{'id': 9648, 'name': 'Mystery'}, {'id': 27, '...",NaN,390959,tt0265736,en,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Shadow of the Blair Witch,False,7.0,2.0,"[{'cast_id': 30, 'character': 'Debuty Hank Har...","[{'credit_id': '56ff6ddbc3a3686e9e0013bc', 'de...","[{'id': 224180, 'name': 'blair witch'}]"
31185,32931,32931,False,NaN,0,"[{'id': 27, 'name': 'Horror'}]",NaN,289923,tt0252966,en,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Do you know what happened 50 years before ""The...",The Burkittsville 7,False,7.0,1.0,"[{'cast_id': 2, 'character': 'Branwall', 'cred...","[{'credit_id': '5403d669c3a3682d9800427d', 'de...","[{'id': 616, 'name': 'witch'}, {'id': 2035, 'n..."
31186,32932,32932,False,NaN,0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,222848,tt0112613,en,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Caged Heat 3000,False,3.5,1.0,"[{'cast_id': 1, 'character': 'Kira (as Cassand...","[{'credit_id': '5757f36ac3a3687d6f000e8a', 'de...",[]
31187,32933,32933,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,30840,tt0102797,en,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Robin Hood,False,5.7,26.0,"[{'cast_id': 1, 'character': 'Sir Robert Hode'...","[{'credit_id': '52fe44439251416c9100a899', 'de...",[]
31188,32934,32934,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",[]

### Pie Chart: 
### Out of all the money spent on movies in the year - % budget per genre

In [291]:
genres = df['genres']

In [292]:
genres

0        [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1        [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2        [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3        [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                           [{'id': 35, 'name': 'Comedy'}]
                               ...
31184    [{'id': 9648, 'name': 'Mystery'}, {'id': 27, '...
31185                       [{'id': 27, 'name': 'Horror'}]
31186             [{'id': 878, 'name': 'Science Fiction'}]
31187    [{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...
31188    [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...
Name: genres, Length: 31189, dtype: object

In [293]:
genres = pd.DataFrame(genres)

In [294]:
genres['genres'][0]

"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"

In [295]:
# Split by comma
f = lambda x: x["genres"].split(",")
genres = genres.apply(f, axis=1)

In [299]:
genres = pd.DataFrame(genres)
# Extract first genre
f = lambda x: x[0][1]
genres = genres.apply(f, axis=1)

In [300]:
genres

0                'name': 'Animation'}
1                'name': 'Adventure'}
2                  'name': 'Romance'}
3                   'name': 'Comedy'}
4                  'name': 'Comedy'}]
                     ...
31184              'name': 'Mystery'}
31185              'name': 'Horror'}]
31186     'name': 'Science Fiction'}]
31187                'name': 'Drama'}
31188               'name': 'Action'}
Length: 31189, dtype: object

In [301]:
genres = pd.DataFrame(genres)
# Delete 'name'
f = lambda x: str(x[0]).replace("name", "")
genres = genres.apply(f, axis=1)

In [302]:
genres[0]

" '': 'Animation'}"

In [303]:
genres = pd.DataFrame(genres)
# Delete '}'
f = lambda x: str(x[0]).replace("}", "")
genres = genres.apply(f, axis=1)

In [304]:
genres[0]

" '': 'Animation'"

In [305]:
genres = pd.DataFrame(genres)
# Delete ':'
f = lambda x: str(x[0]).replace(":", "")
genres = genres.apply(f, axis=1)

In [306]:
genres[0]

" '' 'Animation'"

In [307]:
genres = pd.DataFrame(genres)
# Delete ' '
f = lambda x: str(x[0]).replace(" ", "")
genres = genres.apply(f, axis=1)

In [308]:
genres[0]

"'''Animation'"

In [309]:
genres = pd.DataFrame(genres)
# Delete ']'
f = lambda x: str(x[0]).replace("]", "")
genres = genres.apply(f, axis=1)

In [310]:
genres[0]

"'''Animation'"

In [311]:
genres = pd.DataFrame(genres)
# Delete "'"
f = lambda x: str(x[0]).replace("'", "")
genres = genres.apply(f, axis=1)

In [312]:
genres[0]

'Animation'

In [313]:
genres

0             Animation
1             Adventure
2               Romance
3                Comedy
4                Comedy
              ...
31184           Mystery
31185            Horror
31186    ScienceFiction
31187             Drama
31188            Action
Length: 31189, dtype: object

In [314]:
df['genres'] = genres

In [315]:
df

,Unnamed: 0,Unnamed: 0.1,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,cast,crew,keywords
0,0,0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,Animation,http://toystory.disney.com/toy-story,862,tt0114709,en,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,..."
1,1,1,False,NaN,65000000,Adventure,NaN,8844,tt0113497,en,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","[{'id': 10090, 'name': 'board game'}, {'id': 1..."
2,2,2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,Romance,NaN,15602,tt0113228,en,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...","[{'id': 1495, 'name': 'fishing'}, {'id': 12392..."
3,3,3,False,NaN,16000000,Comedy,NaN,31357,tt0114885,en,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...","[{'id': 818, 'name': 'based on novel'}, {'id':..."
4,4,4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,Comedy,NaN,11862,tt0113041,en,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...","[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31184,32930,32930,False,NaN,0,Mystery,NaN,390959,tt0265736,en,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Shadow of the Blair Witch,False,7.0,2.0,"[{'cast_id': 30, 'character': 'Debuty Hank Har...","[{'credit_id': '56ff6ddbc3a3686e9e0013bc', 'de...","[{'id': 224180, 'name': 'blair witch'}]"
31185,32931,32931,False,NaN,0,Horror,NaN,289923,tt0252966,en,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Do you know what happened 50 years before ""The...",The Burkittsville 7,False,7.0,1.0,"[{'cast_id': 2, 'character': 'Branwall', 'cred...","[{'credit_id': '5403d669c3a3682d9800427d', 'de...","[{'id': 616, 'name': 'witch'}, {'id': 2035, 'n..."
31186,32932,32932,False,NaN,0,ScienceFiction,NaN,222848,tt0112613,en,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Caged Heat 3000,False,3.5,1.0,"[{'cast_id': 1, 'character': 'Kira (as Cassand...","[{'credit_id': '5757f36ac3a3687d6f000e8a', 'de...",[]
31187,32933,32933,False,NaN,0,Drama,NaN,30840,tt0102797,en,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Robin Hood,False,5.7,26.0,"[{'cast_id': 1, 'character': 'Sir Robert Hode'...","[{'credit_id': '52fe44439251416c9100a899', 'de...",[]
31188,32934,32934,False,NaN,0,Action,NaN,67758,tt0303758,en,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",[]